.community_mental_friends_header_item {
  display: flex;
  gap: .5rem;
  border-radius: .5rem;
  padding: .3rem .7rem;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  img {
    width: 1rem;
    height: 1rem;
  }


}