:root {
  --mainBackgroundColor0: #131313;
  --mainBackgroundColor: #171717;
  --mainBackgroundColor2: #1e1e1e;
  --mainBackgroundColor3: #2e2e2e;

  --testColor: rgb(255, 100, 100);
  --testColor1: rgba(255, 100, 100, 0.155);

  --testColor2: rgb(100, 255, 180);
  --testColor21: rgba(100, 255, 180, 0.144);

  --secundaryBackgroundColor: #191919;
  --paragraphColor: #cfcfcf;
  --paragraphColor2:rgb(156, 156, 156);

  --borderColor: #595959;

  --ButtonColor: #7eb8ed;
  --ButtonColor2: #7eb7ed1f;

  --tabBar-inactiveColor: rgb(45, 68, 103);
  --tabBar-activeColor: rgb(166, 201, 252);
  --topbar-backgronColor: #ffff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  margin: 0 auto;
  padding: 2rem;
}
