.best_projects {
  overflow: hidden;
  height: 100%;
  width: 100%;
  padding: 1rem;

  .best_projects_c1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: auto;
    height: 100%;
    gap: 1rem;

    

    img {
      width: 6%;
      border-radius: 30%;
    }



    .best_projects_c1_container {
      display: flex;
      align-items: center;
      width: 100%;
      gap: 2rem;
      padding: 1rem;
      border-radius: 0.75rem;
      cursor: pointer;

      &:hover {
        background-color: var(--mainBackgroundColor3);
      }

      h4 {
        width: 35%;
      }

      span {
        width: 20%;
      }

      .best_projects_c1_container_chart {
        height: 100%;
        width: 100%;
        position: absolute;
      }
    }
  }
}

