.news_home {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 100%;
  width: 100%;
  user-select: none;
  padding: 1rem;

  img{
    width: 8rem;
    border-radius: 0.75rem;
    height: 5rem;
    object-fit: cover;
  }

  .news_home_c1 {
    display: flex;
    gap: 0.5rem;
    cursor: pointer;
    padding: 0.5rem;
    border-bottom: 1px solid var(--mainBackgroundColor3);

    &:hover{
      background-color: var(--mainBackgroundColor3);
    }
  }

  .news_home_c1-general {
    display: flex;
    flex-direction: column;

    .news_home_c1_title {
      span {
        font-size: 1.2rem;
        color:  white;
      }
    }

    .news_home_c2 {
      display: flex;
      flex-direction: column;
      margin-top: 0.5rem;
      .news_home_c2_topics{
        display: flex;
        align-items: center;
        gap: 0.5rem;

        .news_home_c2_topics_topic {
          padding: 0.2rem;
          padding-left: 0.5rem;
          font-size: 0.8rem;
          padding-right: 0.5rem;
          color: var(--borderColor);
          background-color: var(--mainBackgroundColor);
          border-radius: 0.35rem;
        }
      }
    }

    .news_home_c2_domain {
      span {
        color: var(--ButtonColor);
        display: flex;
        justify-content: end;
      }
    }
  }


}