.community_index {
  width: 1100px;
  padding: .5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  margin-top: .5rem;
}

@media (max-width: 1200px) {
  .community_index {
    width: 100%;
  }
}